
a:hover {
  border: none;
  text-decoration: none;
}

#wrapper {

  .window {

    position: absolute;
    left: 50%;
    top: -50%;
    width: 290px;
    height: 290px;
    margin-left: -150px;
    margin-top: -150px;

  }

  .firstWindow {
    top: 50%;
  }

  #controllerWindow {
    top: -100%;
    width: 100%;
    height: 100%;
    background-color: #0b2f41; /* Old browsers */
    background-image: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #0b2f41), color-stop(100%, #031318)); /* Chrome,Safari4+ */
    background-image: -webkit-radial-gradient(center, ellipse cover, #0b2f41 0%, #031318 100%); /* Chrome10+,Safari5.1+ */
    background-image: radial-gradient(ellipse at center, #0b2f41 0%, #031318 100%); /* W3C */
    background-size: 100% 100%;

    > p {
      position: absolute;
      width: 100%;
    }

    #pairingIDText {
      bottom: 10px;
      right: 10px;

      text-align: right;
      margin-right: 10px;
    }

    #controllPoint {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #fff;
      transition: 0.1s transform ease-out;

      margin: 0;
      padding: 0;
      position: absolute;
      top: 0;
      left: 0;
      -webkit-animation: colorAnimation 4s linear infinite;
      animation: colorAnimation 4s linear infinite;

      transform: scale(0, 0);
      &.on {
        transform: scale(1, 1);
      }
    }

    #informationText {
      top: 0;

      font-size: 3.0rem;
      font-weight: bold;
      line-height: 3.0rem;
    }
  }

  #roomID {
    width: 240px;
    height: 90px;
    font-size: 3.0rem;
  }

  #pairingButton {
    margin-top: 40px;
  }
}

@-webkit-keyframes colorAnimation {
  0% {
    background-color: hsl(0, 100, 50);
  }

  25% {
    background-color: hsl(90, 100, 50);
  }

  50% {
    background-color: hsl(180, 100, 50);
  }

  75% {
    background-color: hsl(270, 100, 50);
  }

  100% {
    background-color: hsl(0, 100, 50);
  }
}

@keyframes colorAnimation {
  0% {
    background-color: hsl(0, 100, 50);
  }

  25% {
    background-color: hsl(90, 100, 50);
  }

  50% {
    background-color: hsl(180, 100, 50);
  }

  75% {
    background-color: hsl(270, 100, 50);
  }

  100% {
    background-color: hsl(0, 100, 50);
  }
}
