@charset "UTF-8";
/* --------------------------------------
   リセットCSS
  -------------------------------------- */
*:not(input) {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

a:hover {
  border: none;
  text-decoration: none;
}

strong {
  font-weight: bold;
  font-style: normal;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

html {
  font-size: 62.5%;
}

html, body {
  width: 100%;
  height: 100%;
  background-color: #2D2D2D;
  //  overflow: hidden;
  overflow-x: hidden;
}

body {
  color: #d0d0d0;
  font-family: "Hiragino Kaku Gothic Pro", "Osaka", "Meiryo", "MS PGothic", sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 2rem;

  background-color: #0b2f41; /* Old browsers */
  background-image: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #0b2f41), color-stop(100%, #031318)); /* Chrome,Safari4+ */
  background-image: -webkit-radial-gradient(center, ellipse cover, #0b2f41 0%, #031318 100%); /* Chrome10+,Safari5.1+ */
  background-image: radial-gradient(ellipse at center, #0b2f41 0%, #031318 100%); /* W3C */
  background-size: 100% 100%;

}

.button {
  border: 1px solid #5C5C5C;
  background: #747474;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0.2) 1%, rgba(20, 20, 20, 0.2) 100%);
  cursor: pointer;
  line-height: 3.1rem;
  font-size: 2.2rem;

  &:hover {
    //    background: linear-gradient(to bottom, #626262 1%, #747474 100%);
  }
}

#pairingButton {
  width: 240px;
  font-weight: bold;
}

#pairingMessage {
  display: none;

}

#roomID {
  width: 230px;
  height: 90px;
  font-size: 2.0rem;
}

#wrapper {
  height: 100%;
  text-align: center;
  position: relative;
  .window {
    border-radius: 5px;
    background-color: rgba(20, 20, 20, 0.1);
    text-shadow: -1px -1px 0 #444;
    box-shadow: 0px 0px 8.64px 0.36px rgba(0, 0, 0, 0.373);

    > * {
      margin-top: 20px;
    }
  }
}

@-webkit-keyframes fontColorAnimation {
  0% {
    color: hsl(0, 100, 50)
  }

  25% {
    color: hsl(90, 100, 50)
  }

  50% {
    color: hsl(180, 100, 50)
  }

  75% {
    color: hsl(270, 100, 50)
  }

  100% {
    color: hsl(0, 100, 50)
  }
}

@keyframes fontColorAnimation {
  0% {
    color: hsl(0, 100, 50)
  }

  25% {
    color: hsl(90, 100, 50)
  }

  50% {
    color: hsl(180, 100, 50)
  }

  75% {
    color: hsl(270, 100, 50)
  }

  100% {
    color: hsl(0, 100, 50)
  }
}


